body
{
    font-size: 'Special Elite', cursive;
    background: rgb(117, 11, 91);
    color: rgb(236, 1, 119);
}

.header_div
{
    background:rgb(56, 9, 52);
    color: rgb(230, 20, 118);
}

.header_div p{
    font-family: 'Roboto', sans-serif;
    color: rgb(241, 3, 150);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight:bold;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color:rgb(255, 255, 255);
    bottom:0;
    width: 100%;
    font-size: 18px;
    background-color: rgb(56, 9, 52);
    line-height: 3;
    text-align: center;
   text-shadow: 5px 5px 5px rgb(230, 153, 204);
}